PORT=7777

MONGO_DB_ATLAS_URL=mongodb+srv://<your_name>:<your_password>@<db_url_example.nehkp.mongodb.net>/?retryWrites=true&w=majority&appName=<app_name>

BASE_URL=https://url-shortener-8r9n.onrender.com

THROTTLER_TTL_SECONDS=11111
THROTTLER_LIMIT=11

REDIS_HOST=red-cfdvr2gf435sfvsv9s73sec6g
REDIS_PORT=1111